body {
  font-family: Arial, sans-serif;
  background-color: #00090e;
  margin: 0;
  padding: 20px;
}
.container {
  max-width: 800px;
  background: #0c0a0a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}
h1, h2 {
  color: #333;
  text-align: center;
}
p {
  line-height: 1.6;
}
.highlight {
  background: #ffeb3b;
  padding: 2px 5px;
  border-radius: 5px;
}
.section {
  margin-bottom: 20px;
}
ul {
  padding-left: 20px;
}
.footer {
  text-align: center;
  font-size: 14px;
  color: gray;
  margin-top: 20px;
}
.nav-link {
  color: #79D7BE !important;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ffcc00 !important;
}

.nav-link.active {
  color: #79D7BE !important;
  background-color: transparent !important;
  border-bottom: 2px solid #79D7BE;
}
